
<!-- <mat-toolbar color="primary" class="navbar">
  <div [routerLink]="['/']">Web422 Angular Assignment</div>
  <div class="nav">
    <span [routerLink]="['/game']">Game</span>
  <span [routerLink]="['/about']">About</span>
  <span *ngIf="!checkUser.success" [routerLink]="['/login']">Login</span>
  <span *ngIf="checkUser.success" (click)="openDailog()" >Hi, {{checkUser.userName}}</span>
  </div>
  
      <div>Web422 Angular Assignment</div>
    </mat-toolbar> -->

    <mat-toolbar class="mat-elevation-z10" color="primary" fxLayout="row">
      <div>
          <a class="valign-center" [routerLink]="['']">
              
            <div>Web422 Angular Assignment</div>
          </a> 
      </div>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxHide.xs>
          <ul fxLayout fxLayoutGap="20px" class="menu-items">
              <li><a [routerLink]="['/game']">Game</a></li>
              <li><a [routerLink]="['/about']">About</a></li>
              <li><a *ngIf="!checkUser.success" [routerLink]="['/login']">Login</a></li>
              <li><a *ngIf="checkUser.success" (click)="openDailog()" >Hi, {{checkUser.userName}}</a></li>
          </ul>
      </div>

      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxHide.gt-xs>
        <a class="valign-center" mat-icon-button [matMenuTriggerFor]="menu" aria-label="additional links">
          <mat-icon>more_vert</mat-icon>
      </a>
       
          <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="['/game']">Game</button>
              <button mat-menu-item [routerLink]="['/about']">About</button>
              <button mat-menu-item *ngIf="!checkUser.success" [routerLink]="['/login']">Login</button>
              <button mat-menu-item *ngIf="checkUser.success" (click)="openDailog()" >Hi, {{checkUser.userName}}</button>
          </mat-menu>
      </div>
  </mat-toolbar>






    <mat-divider></mat-divider>







<!-- <mat-toolbar fxLayout="row" color="primary" class="navbar">
  <div [routerLink]="['/']">Web422 Angular Assignment</div>
  <div class="nav">
    <span [routerLink]="['/game']">Game</span>
  <span [routerLink]="['/about']">About</span>
  <span *ngIf="!checkUser.success" [routerLink]="['/login']">Login</span>
  <span *ngIf="checkUser.success" (click)="openDailog()" >Hi, {{checkUser.userName}}</span>
  </div>
  
  
    </mat-toolbar> -->

  <mat-divider></mat-divider>

<router-outlet></router-outlet>

<mat-toolbar class="mfooter"  color="primary">
  <mat-toolbar-row class="namefooter">
    <h3>Yi Zhou</h3>
  </mat-toolbar-row>

  <mat-toolbar-row class="footer" >
    <span class="webfooter">Web422 Assignment</span>
    <span class="example-spacer"></span>
  
  </mat-toolbar-row>

  <mat-toolbar-row class="footer">
    <span class="datefooter">Nov 24, 2021</span>
    <span class="example-spacer"></span>
  
  </mat-toolbar-row>
</mat-toolbar>
